@import './base';
@import './mixin';
@import './variables';

.order-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  @include flex-center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease-in-out;
  }

  .dialog-content {
    background-color: #fff;
    padding: 1rem;
    @include round-xl;
    @include shadow-m;
    width: 95%;
    @include pc-s {
      width: 600px;
    }
  }
}
.animate__animated.animate__pulse {
  --animate-duration: 0.8s;
}

.ep-input {
  background-color: #f6f6f6;
  --ep-input-bg-color: #f6f6f6 !important;
  border-radius: 16px;
  height: 45px;
}

.ep-dialog {
  --ep-dialog-margin-top: 40dvh !important;
  --ep-dialog-width: 90% !important;
  @media screen and (min-width: 600px) {
    --ep-dialog-width: 500px !important;
  }
}

.ep-button {
  height: 45px;
  border-radius: 16px;
  font-family: 'arista 2.0';
  @include ease;
  &:active {
    scale: 0.9;
  }
}

.ep-dialog__footer {
  text-align: center !important;
}

.ep-form-item__label {
  color: black !important;
  font-weight: bold;
}
.ep-radio-button__inner {
  border: solid 0.5px black !important;
}
.ep-radio-button--large .ep-radio-button__inner {
  padding: 12px 6px !important;
  width: 100%;
}

.ep-carousel__container{
  height: 98% !important;
}
.ep-carousel__indicators .ep-carousel__indicator button{
  background: rgb(0, 0, 0) !important;
}