$--colors: (
  "primary": (
    "base": rgb(0, 0, 0),
  ),
  "success": (
    "base": #21ba40,
  ),
  "warning": (
    "base": #f2dd1c,
  ),
  "danger": (
    "base": #dd6161,
  ),
  "error": (
    "base": #db2828,
  ),
  "info": (
    "base": #afafaf,
  ),
); 

// we can add this to custom namespace, default is 'el'
@forward "element-plus/theme-chalk/src/mixins/config.scss" with (
  $namespace: "ep"
);

// You should use them in scss, because we calculate it by sass.
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  // do not use same name, it will override.
  $colors: $--colors,
  $button-padding-horizontal: ("default": 50px),
);

// custom dark variables
@use "./dark.scss";